* {
  /* outline: red 1px solid; */
}

body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu { 
	float: left;
}

.hadouken {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
  /* display: block; */
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
  /* display: none; */
} 

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  /* display: block; */
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}
 
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 167px;
  left: -156px;
  float: left; 
}

